<div class="container">
  <div>
    <h2>Ajouter un Aliment :</h2>
  </div>
  <form>
    
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Aliment</label>
      <input
        type="text"
        [(ngModel)]="newAliment.nomAliment"
        name="nomAliment"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Calorie Aliment</label>
      <input
        type="number"
        [(ngModel)]="newAliment.calorieAliment"
        name="calorieAliment"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Glucide Aliment</label>
      <input
        type="number"
        [(ngModel)]="newAliment.glucideAliment"
        name="glucideAliment"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Lipide Aliment</label>
      <input
        type="number"
        [(ngModel)]="newAliment.lipideAliment"
        name="lipideAliment"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Proteine Aliment</label>
      <input
        type="number"
        [(ngModel)]="newAliment.proteineAliment"
        name="proteineAliment"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Fibre Aliment</label>
      <input
        type="number"
        [(ngModel)]="newAliment.fibreAliment"
        name="fibreAliment"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Famille</label>
      <select
        class="form-control form-control-lg"
        id="idFam"
        name="idFam"
        [(ngModel)]="newIdFam"
      >
        <option *ngFor="let fam of familles" [value]="fam.idFam">
          {{ fam.nomFam }}
        </option>
      </select>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input
        type="date"
        [(ngModel)]="newAliment.dateCreation"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-16 col-md-16 col-lg-16">
      <label class="mb-2">Image :</label>
      <input type="file" (change)="onImageUpload($event)"
      name="logo" class="form-control">
      <div class="col-sm-16 col-md-16 col-lg-16">
        <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
        style="width: 500px; height: 300px" />
        </div>
      </div>      
      
      
        
    <div class="mt-2">
      <button type="submit" (click)="addAliment()" class="btn btn-success">
        Ajouter
      </button>
      <div>
        <h3>{{ message }}</h3>
      </div>
    </div>
  </form>
</div>
